<!DOCTYPE html>
<html>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - VertiSearch</title>
    {% else %}
    <title>Welcome to VertiSearch</title>
    {% endif %}
  </head>
  <body>
    <div>Navigation: <a href="/">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages%}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>